<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Form</title>
</head>

<body>
    <form action="/Home/CreateNew">
         <div class="container mt-5">
             <h2>Enter Your Name</h2>
       
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>   
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
   </form>
</body>
</html>
