@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CLICK HERE! <a href="https://localhost:7164/Home/Create/Create?">Create New Acoount</a>.</p>
</div>
